<launch>
    <node name="ORBPOSE_ZED" pkg="ORB_SLAM3" type="ORBPOSE_ZED" output="screen">
        <!-- for EuRoC dataset -->
        <remap from="/camera/left/image_raw"    to="/zed_node/left/image_rect_gray"/>
        <remap from="/camera/right/image_raw"   to="/zed_node/right/image_rect_gray"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find ORB_SLAM3)/../../../Vocabulary/ORBvoc.txt" />
        <param name="settings_file" type="string"   value="$(find ORB_SLAM3)/../../../Examples/Stereo/ZED.yaml" />
        <param name="do_rectify"    type="bool"     value="false" />
    
        <!-- Parameters for ROS -->
        <param name="map_frame_id"  type="string"   value="world" />
        <param name="pose_frame_id" type="string"   value="camera" />
    </node>
</launch>